<p>
    This is a colletion of samples for ng2-pop-over component. Each working example has a code snippet below it to
    show how it was done.
    For npm package and documentation <a href="https://www.npmjs.com/package/ng2-pop-over">go here</a>
</p>
<h4>A basic usage of trigger</h4>
<pop-over
        #popOver1 [my]="'top left'" [at]="'bottom right'"
        [anchor-to]="true" [x-offset]="5" [y-offset]="5">
    <div class="my-pop-over">
        <div>hey there</div>
        <div>{{dynamicMessage | async}}</div>
    </div>
</pop-over>
<div class="inline-trigger" [pop-over-trigger]="popOver1"
     [show-on]="showOn" [hide-on]="'mouseleave'">hover for a pop over left and below
</div>
<code-sample>
    &lt;pop-over<br />
    #popOver1 [my]="'top left'" [at]="'bottom right'"<br />
    [anchor-to]="true" [x-offset]="5" [y-offset]="5"&gt;<br />
    &lt;div class="my-pop-over"&gt;<br />
    &lt;div&gt;hey there&lt;/div&gt;<br />
    &lt;div&gt;some content&lt;/div&gt;<br />
    &lt;/div&gt;<br />
    &lt;/pop-over&gt;<br />
    &lt;div class="inline-trigger" [pop-over-trigger]="popOver1"<br />
    [show-on]="showOn" [hide-on]="'mouseleave'"&gt;hover for a pop over left and below<br />
    &lt;/div&gt;
</code-sample>
<h4>Same as above just on top</h4>
<pop-over
        #popOver2 [my]="'bottom left'" [at]="'top right'"
        [anchor-to]="true" [x-offset]="5" [y-offset]="5">
    <div class="my-pop-over">
        <div>hey there</div>
        <div>{{dynamicMessage | async}}</div>
    </div>
</pop-over>
<div class="inline-trigger" [pop-over-trigger]="popOver2"
     [show-on]="showOn" [hide-on]="'mouseleave'">hover for a pop over top and above
</div>
<code-sample>
    #popOver2 [my]="'bottom left'" [at]="'top right'"
</code-sample>
<h4>Now trigger it programmatically and position in overlap</h4>
<pop-over
        #popOver3 [my]="'left'" [at]="'center'"
        [anchor-to]="true" [x-offset]="5" [y-offset]="5">
    <div class="my-pop-over">
        <div>hey there</div>
        <div>{{dynamicMessage | async}}</div>
    </div>
</pop-over>
<div class="inline-trigger" (click)="popOver3.show($event)">
    click to show an overlapping pop over
</div>
<code-sample>
    &lt;pop-over<br />
    #popOver3 [my]="'left'" [at]="'center'"<br />
    [anchor-to]="true" [x-offset]="5" [y-offset]="5"&gt;<br />
    &lt;div class="my-pop-over"&gt;<br />
    &lt;div&gt;hey there&lt;/div&gt;<br />
    &lt;div&gt;content ...&lt;/div&gt;<br />
    &lt;/div&gt;<br />
    &lt;/pop-over&gt;<br />
    &lt;div class="inline-trigger" (click)="popOver3.show($event)"&gt;click to show an overlapping pop over<br />
    &lt;/div&gt;<br />
</code-sample>
<h4>Attach the pop over to another component</h4>
<pop-over
        #popOver4 [my]="'bottom right'" [at]="'center'"
        [anchor-to]="popOver4Target" [x-offset]="5" [y-offset]="5">
    <div class="my-pop-over">
        <div>How did I get here?</div>
    </div>
</pop-over>
<div style="display: flex; flex-direction: row;">
    <div class="inline-trigger" (click)="popOver4.show($event)">
        click to see the pop over on the element on the right
    </div>
    <div style="flex: 1 1 auto;"></div>
    <div #popOver4Target class="inline-trigger">watch me carefully, I am the pop over target</div>
</div>
<code-sample>
    &lt;pop-over<br />
    #popOver4 [my]="'bottom right'" [at]="'center'"<br />
    [anchor-to]="popOver4Target" [x-offset]="5" [y-offset]="5"&gt;<br />
    &lt;div class="my-pop-over"&gt;<br />
    &lt;div&gt;How did I get here?&lt;/div&gt;<br />
    &lt;/div&gt;<br />
    &lt;/pop-over&gt;<br />
    &lt;div style="display: flex; flex-direction: row;"&gt;<br />
    &lt;div class="inline-trigger" (click)="popOver4.show($event)"&gt;<br />
    click to see the pop over on the element on the right<br />
    &lt;/div&gt;<br />
    &lt;div style="flex: 1 1 auto;"&gt;&lt;/div&gt;<br />
    &lt;div #popOver4Target class="inline-trigger"&gt;watch me carefully, I am the pop over target&lt;/div&gt;<br />
    &lt;/div&gt;<br />
</code-sample>
<h4>Use your own custom component</h4>
<pop-over
        #popOver5 [my]="'bottom left'" [at]="'top right'"
        [anchor-to]="true" [x-offset]="5" [y-offset]="5">
    <my-message [title]="'Before you go'" [content]="'Did you lock all the doors?'"></my-message>
</pop-over>
<div class="inline-trigger" [pop-over-trigger]="popOver5"
     [show-on]="showOn" [hide-on]="'mouseleave'">
    hover for a custom component pop over right and above
</div>
<code-sample>
    &lt;pop-over<br />
    #popOver5 [my]="'bottom left'" [at]="'top right'"<br />
    [anchor-to]="true" [x-offset]="5" [y-offset]="5"&gt;<br />
    &lt;my-message [title]="'Before you go'" [content]="'Did you lock all the doors?'"&gt;&lt;/my-message&gt;<br />
    &lt;/pop-over&gt;<br />
    &lt;div class="inline-trigger" [pop-over-trigger]="popOver5"<br />
    [show-on]="showOn" [hide-on]="'mouseleave'"&gt;<br />
    hover for a custom component pop over right and above<br />
    &lt;/div&gt;<br />
</code-sample>
<h4>Click to toggle</h4>
<pop-over
        #popOver6 [my]="'bottom left'" [at]="'top right'"
        [anchor-to]="true" [x-offset]="5" [y-offset]="5">
    <div class="my-pop-over">Now you got me triggered. Click again to hide me.</div>
</pop-over>
<div class="inline-trigger" (click)="popOver6.toggle($event)">
    click me to toggle a the pop over (visible: {{popOver6.visible$ | async}})
</div>
<code-sample>
    &lt;pop-over<br />
    #popOver6 [my]="'bottom left'" [at]="'top right'"<br />
    [anchor-to]="true" [x-offset]="5" [y-offset]="5"&gt;<br />
    &lt;div class="my-pop-over"&gt;Now you got me triggered. Click again to hide me.&lt;/div&gt;<br />
    &lt;/pop-over&gt;<br />
    &lt;div class="inline-trigger" (click)="popOver6.toggle($event)"&gt;<br />
    click me to toggle a the pop over (visible: {{popOver6.visible$ | async}})<br />
    &lt;/div&gt;
</code-sample>
<!--
<pop-over
        [keep-on-click-outside]="true"
        #popOver2 [my]="'bottom'" [at]="'bottom'"
        [anchor-to]="true" [x-offset]="5" [y-offset]="5">
    <div class="my-pop-over">
        <div>hey there</div>
        <div>{{dynamicMessage | async}}</div>
    </div>
</pop-over>
<div class="inline-trigger" [pop-over-trigger]="popOver2"
     [show-on]="showOn" [hide-on]="'mouseleave'">hover for a pop over left and below
</div>
-->
<!--
<div (click)="abc.toggle($event)" (mouseenter)="abc.toggle($event)" style="height: 70px;border: 1px solid red;">toggle
</div>
<button type="button" (click)="showOn='click'" style="cursor:pointer;">showing on: {{showOn}}</button>
<pop-over #myCompPO [content-class]="'my-pop-over-message'"
          [my]="'left'" [at]="'right'"
          [anchor-to]="true" [x-offset]="0">
    <my-message [title]="'Before you go'" [content]="'Did you lock all the doors?'"></my-message>
</pop-over>
-->
<!--
<span [pop-over-trigger]="myCompPO" [show-on]="'mouseenter'"
    style="border: 1px solid black; height: 50px; width: 30px; display: inline-block;">?</span>
<span [pop-over-trigger]="myCompPO" [show-on]="'mouseenter'"
      style="border: 1px solid black; height: 50px; width: 30px; display: inline-block;">findmexyz</span>
    -->
