.my-message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: lightblue;
}

.my-message hr {
    width: 100%;
}